* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* HOME */
.home-container {
  margin: 60px 0px;
}

.home-container  .title-container {
  text-align: center;
  margin-bottom: 60px;
}

.home-container .main-container {
  display: flex;
  justify-content: center;
}


/* Github LIST  */
.members-list-container {
  padding: 30px;
}
.members-list-container .members-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  margin: 30px 0px;
}
.members-list-container .pagination-container {
  display: flex;
  justify-content: center;
}


/* Rick & Morty List */
.characters-list-container {
  padding: 30px;
  background-color: #121238;
}

.characters-list-container .characters-list-header {
  color: #ffff;
}

.characters-list-container .characters-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  margin: 30px 0px;
}
.characters-list-container .pagination-container {
  display: flex;
  justify-content: center;
  color: #ffff;
}


/* DETAIL */
.member-details-container {
  padding: 30px;
}

.member-details-container .member-details {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.member-details .info .user-name {
  display: flex;
  gap: 5px;
}

.member-details .info .organization-name {
  margin: 10px 0px;
}

.member-details .info .github-account-info {
  display: flex;
  gap: 15px;
  margin-top: 12px;
}
